:root {
    --hourglass-color-glass: #00000033;

    --hourglass-animation-duration: 10s;
    --hourglass-animation-count: infinite;

    --hourglass-glass-polygon: polygon(
        0% 0%,
        100% 0%,
        100% 5.55%,
        95% 5.55%,
        95% 28%,
        60% 46%,
        60% 54%,
        95% 72%,
        95% 94.45%,
        100% 94.45%,
        100% 100%,
        0% 100%,
        0% 94.45%,
        5% 94.45%,
        5% 72%,
        40% 54%,
        40% 46%,
        5% 28%,
        5% 5.55%,
        0% 5.55%
    );

    --hourglass-sand-polygon-1: polygon(
        0% 0%,
        100% 0%,
        100% 24%,
        50% 47%,
        50% 47%,
        50% 47%,
        50% 47%,
        50% 47%,
        50% 47%,
        50% 47%,
        50% 47%,
        0% 24%
    );
    --hourglass-sand-polygon-2: polygon(
        0% 4%,
        100% 4%,
        100% 24%,
        52% 45%,
        52% 100%,
        52% 100%,
        52% 100%,
        48% 100%,
        48% 100%,
        48% 100%,
        48% 45%,
        0% 24%
    );
    --hourglass-sand-polygon-3: polygon(
        0% 24%,
        100% 24%,
        100% 24%,
        52% 45%,
        52% 80%,
        100% 100%,
        100% 100%,
        0% 100%,
        0% 100%,
        48% 80%,
        48% 45%,
        0% 24%
    );
    --hourglass-sand-polygon-4: polygon(
        48% 45%,
        52% 45%,
        52% 45%,
        52% 45%,
        52% 58%,
        100% 76%,
        100% 100%,
        0% 100%,
        0% 76%,
        48% 58%,
        48% 45%,
        48% 45%
    );
    --hourglass-sand-polygon-5: polygon(
        50% 53%,
        50% 53%,
        50% 53%,
        50% 53%,
        50% 53%,
        100% 76%,
        100% 100%,
        0% 100%,
        0% 76%,
        50% 53%,
        50% 53%,
        50% 53%
    );
}

.hourglass_icon {
    position: relative;
    width: 5em;
    height: 9em;
    z-index: 0;

    margin: auto;
    overflow: hidden;

    clip-path: var(--hourglass-glass-polygon);
    -webkit-clip-path: var(--hourglass-glass-polygon);

    background-image: linear-gradient(
        var(--theme-color) 0.5em,
        var(--hourglass-color-glass) 0.5em 8.5em,
        var(--theme-color) 8.5em
    );
}

.hourglass_icon:after {
    display: block;
    position: absolute;
    width: 4em;
    height: 8em;

    top: 0.5em;
    left: 0.5em;
    z-index: 1;

    content: "";

    clip-path: var(--hourglass-sand-polygonB5);
    -webkit-clip-path: var(--hourglass-sand-polygon-5);

    background-color: var(--base-color);
    background-size: 100% 3.6em;
}

.hourglass_icon.running,
.hourglass_icon.running:after {
    animation-duration: var(--hourglass-animation-duration);
    animation-iteration-count: var(--hourglass-animation-count);
}

.hourglass_icon.running {
    animation-name: flip;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.hourglass_icon.running:after {
    animation-name: fill;
    animation-timing-function: linear;
}

/* Animations */

@keyframes flip {
    from,
    1% {
        transform: rotate(-180deg);
    }
    5% {
        transform: rotate(-220deg);
    }
    10% {
        transform: rotate(5deg);
    }
    15%,
    to {
        transform: rotate(0);
    }
}

@keyframes fill {
    from,
    10% {
        clip-path: var(--polygonB1);
        -webkit-clip-path: var(--hourglass-sand-polygon-1);
    }
    20% {
        clip-path: var(--polygonB2);
        -webkit-clip-path: var(--hourglass-sand-polygon-2);
    }
    50% {
        clip-path: var(--polygonB3);
        -webkit-clip-path: var(--hourglass-sand-polygon-3);
    }
    95% {
        clip-path: var(--polygonB4);
        -webkit-clip-path: var(--hourglass-sand-polygon-4);
    }
    98%,
    to {
        clip-path: var(--polygonB5);
        -webkit-clip-path: var(--hourglass-sand-polygon-5);
    }
}
