@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/open-sans-v15-latin-regular.eot");
    src: local("Open Sans Regular"), local("OpenSans-Regular"),
        url("../fonts/open-sans-v15-latin-regular.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/open-sans-v15-latin-regular.woff2") format("woff2"),
        url("../fonts/open-sans-v15-latin-regular.woff") format("woff"),
        url("../fonts/open-sans-v15-latin-regular.ttf") format("truetype");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/open-sans-v15-latin-600.eot");
    src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"),
        url("../fonts/open-sans-v15-latin-600.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/open-sans-v15-latin-600.woff2") format("woff2"),
        url("../fonts/open-sans-v15-latin-600.woff") format("woff"),
        url("../fonts/open-sans-v15-latin-600.ttf") format("truetype");
}

:root {
    --app-background-color: #fefefe;

    --theme-color: #3b5caf;
    --border-color: #6f6c67;
    --background-color: #e5e5e5;

    --text-color: #111111;

    --hourglass-color-glass: #00000033;

    --base-font-family: "Open Sans", Helvetica;
    --base-font-size: 1rem;
    --base-font-weight: 600;
    --base-line-height: 1.7;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;

    background-color: var(--app-background-color);
    color: var(--text-color);

    font-family: var(--base-font-family);
    font-size: var(--base-font-size);
    font-weight: var(--base-font-weight);
    line-height: var(--base-line-height);
}

.button {
    padding: 20px;
    cursor: pointer;
    font-size: revert;
}

.button:active {
    position: relative;
    top: 2px;
}

.button.primary {
    padding: 15px 20px;
    font-size: 1em;

    color: var(--text-color);
    background-color: var(--background-color);

    border: none;
    border-radius: 12px;
}

.button.primary:hover {
    filter: brightness(85%);
}

.button.icon {
    padding: 10px;
    font-size: 1em;

    color: var(--border-color);
    background-color: transparent;

    border: none;
    border-radius: 12px;
}

.button.icon:hover {
    color: var(--text-color);
}

.form-check-input {
    width: 2.5em !important;
    height: 1.2em;

    background-color: var(background-color);
    border-color: var(--border-color);

    cursor: pointer;
}

.form-check-input:checked {
    background-color: var(--theme-color);
    border-color: var(--theme-color);
}

.form-switch .form-check-input {
    float: initial;
}

/* Dark mode */
.dark-mode {
    --app-background-color: #252525;

    --theme-color: #b75817;
    --border-color: #e8e8e8;
    --background-color: #6a6a6a;

    --text-color: #e0e0e0;

    --hourglass-color-glass: #ffffff33;

    /* https://www.ditdot.hr/en/dark-mode-website-tutorial */
}

.dark-mode > .form-select {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/></svg>");
}
