.player {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  margin: 10px;
  margin-top: 0;

  width: 100%;
  max-width: 500px;
}

.button {
  padding: 20px;
  cursor: pointer;
  font-size: revert;
}

.button:active {
  position: relative;
  top: 2px;
}

.run {
  width: 13em;
  height: 13em;

  position: relative;
  left: 50%;
  transform: translate(-50%);

  border-radius: 50%;
  border: solid 0.3em var(--border-color);

  color: var(--border-color);
  background: transparent;

  opacity: 50%;
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
}

.run:hover {
  opacity: 90%;
}

.run.running {
  opacity: 75%;
  background-color: var(--background-color);
}

.button.primary {
  padding: 15px 20px;
  font-size: 1em;

  color: var(--text-color);
  background-color: var(--background-color);

  border: none;
  border-radius: 12px;
}

.button.primary:hover {
  background-color: var(--background-color);
}

.player-control {
  width: 100%;
  margin-top: 30px;
}

.player-control > label {
  margin-left: 5px;
}

.next-alarm-display {
  text-align: center;
  color: var(--border-color);
  font-style: italic;
}

.range-slider {
  --primary-color: var(--theme-color);
  --progress-background: var(--background-color);
  --thumb-color: var(--app-background-color);
  --ticks-color: var(--border-color);
  --value-offset-y: 15px;
}

.range-slider > label {
  position: relative;
  top: -45px;
}

.range-slider input:hover {
  --thumb-transform: scale(1.2);
}

.range-slider input:active {
  --thumb-transform: scale(1);
}

.range-slider.grad {
  /* --progress-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2) inset;
  --progress-flll-shadow: var(--progress-shadow); */
  --fill-color: linear-gradient(to right, transparent, var(--theme-color));
}

.form-select {
  background-color: var(--app-background-color);
  color: var(--text-color);

  border: none;
  border-color: var(--border-color);
  border-style: solid;
  border-width: 0 0 1px 0;

  border-radius: 0;
}

.form-check-input {
  width: 2.5em !important;
  height: 1.2em;

  background-color: var(background-color);
  border-color: var(--border-color);

  cursor: pointer;
}

.form-check-input:checked {
  background-color: var(--theme-color);
  border-color: var(--theme-color);
}

.form-switch .form-check-input {
  float: initial;
}
