:root {
    --base-color: #6f6c67;
    --theme-color: #255ff4;

    --background-color: #dddddd;

    --base-font: 700 12px/1 Arial;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --bg: #17181c;
        --fg: #c7cad1;
    }
}
